body { background: #1051f9; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 30px; display: flex; }
.block-invoice-0 { color: #2beb55; font-size: 20px; margin-bottom: 5px; }
.block-database-1 { color: #fd262b; font-size: 13px; margin-bottom: 5px; }
.block-helper-2 { color: #bc4b83; font-size: 13px; margin-bottom: 5px; }
.block-config-3 { color: #c6c407; font-size: 15px; margin-bottom: 5px; }
.block-invoice-4 { color: #583e1e; font-size: 19px; margin-bottom: 5px; }
.block-search-5 { color: #e5888a; font-size: 13px; margin-bottom: 5px; }